services:
  postgres:
    image: postgres:16-alpine
    container_name: socket_postgres
    restart: unless-stopped
    ports:
      - '5435:5432'
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: socket_db
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
